@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.contact-section {
  margin-top: 3.2rem;
  padding: 40px 0;
  min-height: 90vh;
}
.contact-section h1 {
  text-align: center;
  color: #ddd;
}

.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  background: none;
  margin: 20px auto;
}

.contact-form {
  max-width: 835px;
  margin: auto;
  padding: 20px 40px;
  overflow: hidden;
  background: none;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: none;
  padding: 20px 40px;
  outline: none;
  color: #fff;
  transition: 0.5s;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.contact-form-text:focus {
  /* box-shadow: 0 0 10px 4px #34495e; */
  background: #fff;
  color: #262626;
  border: 1px solid rgb(84, 84, 84);
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background-image: linear-gradient(
    to right,
    #019297 0%,
    #00b093 51%,
    #008b90 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  padding: 12px 45px;
  font-family: Montserrat;
}
.contact-form-btn:hover {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.contact-form {
  border-radius: 0.25rem;
  box-shadow: 0 0 10px -5px rgb(0 0 0 / 50%);
}

.contact-header {
  background-image: linear-gradient(
    to right,
    #019297 0%,
    #00b093 51%,
    #008b90 100%
  );
  color: #fff;
  padding: 3rem 0;
}

.contact-header h2{
  font-size: 28px;
  margin-bottom: 0.5rem;
}
